.event {
    box-sizing: border-box;
    height: 200px;
    margin-right: 40px;
    margin-bottom: 5px;
    width: 35%;
    max-width: 31.5%;
    flex: 1 1 auto;
    position: relative;
    background: black;
    color: white;
    font-family: 'signika', sans-serif;
    transition: 0.5s all;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.event:nth-child(3n) {
    margin-right: 0;
}

.event img {
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(3px) brightness(70%);
    transition: 0.7s all;
}

.event img:hover {
    filter: invert(15%) blur(4px);
}

.event .name {
    position: absolute;
    font-weight: normal;
    font-style: italic;
    text-align: right;
    text-shadow: -2px -2px 30px rgba(150, 150, 150, 1);
    font-size: 22px;
    top: -15px;
    right: 10px;
    width: 100%;
    opacity: 0.9;

}

.event .location {
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    font-size: 14pt;
    right: 4px;
    bottom: 4px;
}

.event .time {
    position: absolute;
    right: 4px;
    bottom: 28px;
}

.event .price {
    text-transform: uppercase;
    font-weight: bolder;
    color: lime;
    position: absolute;
    padding: 4px;
    right: 0px;
    bottom: 45px;
}
