.events {
    transform: translateZ(0);
}

.event-group {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
}

.event-group .date {
    text-transform: uppercase;
    margin: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    display: inline-block;
    border-radius: 5px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}
