.event-group {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
}

.event-group .date {
    text-transform: capitalize;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}
