.switcher {
    width: 100%;
    position: relative;
    display: flex;
    height: 30px;
}

.switcher button {
    flex: 1;
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    font-family: "Comic Sans MS";
    font-size: 20px;
    transition: 0.3s all;
    cursor: pointer;
}

.switcher button.active {
    background-color: green;
}

.switcher button:hover {
    background-color: black;
    color: white;
}
